<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438403226764-gn1j8cmkvbf1qqjn5ut7eltpfs6c2ku8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438403226764-gn1j8cmkvbf1qqjn5ut7eltpfs6c2ku8</string>
	<key>API_KEY</key>
	<string>AIzaSyB5VbK54sJh47L0RN-2TUe85QePTDPoGQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>438403226764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.callblock.healerpro</string>
	<key>PROJECT_ID</key>
	<string>iblock-call-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>iblock-call-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438403226764:ios:e14f3b3fa2d7043e466fa9</string>
</dict>
</plist>